html
	body
		h1 server side javascript
		ul
			each topic in topics
				li
					a(href='/topic/'+topic)= topic
					
		form(method='post' action='/topic')
			input(type='text' name='title')
			input(type='text' name='description')
			input(type='submit')